/* display */
$display1-font-size: 56px;
$display1-line-height: 1.286;
$display1-letter-spacing: -0.032em;
$display2-font-size: 40px;
$display2-line-height: 1.3;
$display2-letter-spacing: -0.028em;

/* title */
$title1-font-size: 36px;
$title1-line-height: 1.334;
$title1-letter-spacing: -0.024em;
$title2-font-size: 28px;
$title2-line-height: 1.358;
$title2-letter-spacing: -0.023em;
$title3-font-size: 24px;
$title3-line-height: 1.334;
$title3-letter-spacing: -0.02em;

/* heading */
$heading1-font-size: 22px;
$heading1-line-height: 1.364;
$heading1-letter-spacing: -0.02em;
$heading2-font-size: 18px;
$heading2-line-height: 1.445;
$heading2-letter-spacing: -0.002em;

/* body */
$body1-normal-font-size: 16px;
$body1-normal-line-height: 1.5;
$body1-normal-letter-spacing: 0.005em;
$body1-reading-font-size: 16px;
$body1-reading-line-height: 1.625;
$body1-reading-letter-spacing: 0.006em;
$body2-normal-font-size: 15px;
$body2-normal-line-height: 1.467;
$body2-normal-letter-spacing: 0.01em;
$body2-reading-font-size: 15px;
$body2-reading-line-height: 1.6;
$body2-reading-letter-spacing: 0.01em;

/* label */
$label1-normal-font-size: 14px;
$label1-normal-line-height: 1.429;
$label1-normal-letter-spacing: 0.014em;
$label1-reading-font-size: 14px;
$label1-reading-line-height: 1.571;
$label1-reading-letter-spacing: 0.014em;

/* caption */
$caption1-font-size: 12px;
$caption1-line-height: 1.334;
$caption1-letter-spacing: 0.025em;
$caption2-font-size: 10px;
$caption2-line-height: 1.273;
$caption2-letter-spacing: 0.031em;

:root {
  /* display */
  --display1-font-size: #{$display1-font-size};
  --display1-line-height: #{$display1-line-height};
  --display1-letter-spacing: #{$display1-letter-spacing};
  --display2-font-size: #{$display2-font-size};
  --display2-line-height: #{$display2-line-height};
  --display2-letter-spacing: #{$display2-letter-spacing};

  /* title */
  --title1-font-size: #{$title1-font-size};
  --title1-line-height: #{$title1-line-height};
  --title1-letter-spacing: #{$title1-letter-spacing};
  --title2-font-size: #{$title2-font-size};
  --title2-line-height: #{$title2-line-height};
  --title2-letter-spacing: #{$title2-letter-spacing};
  --title3-font-size: #{$title3-font-size};
  --title3-line-height: #{$title3-line-height};
  --title3-letter-spacing: #{$title3-letter-spacing};

  /* heading */
  --heading1-font-size: #{$heading1-font-size};
  --heading1-line-height: #{$heading1-line-height};
  --heading1-letter-spacing: #{$heading1-letter-spacing};
  --heading2-font-size: #{$heading2-font-size};
  --heading2-line-height: #{$heading2-line-height};
  --heading2-letter-spacing: #{$heading2-letter-spacing};

  /* body */
  --body1-normal-font-size: #{$body1-normal-font-size};
  --body1-normal-line-height: #{$body1-normal-line-height};
  --body1-normal-letter-spacing: #{$body1-normal-letter-spacing};
  --body1-reading-font-size: #{$body1-reading-font-size};
  --body1-reading-line-height: #{$body1-reading-line-height};
  --body1-reading-letter-spacing: #{$body1-reading-letter-spacing};
  --body2-normal-font-size: #{$body2-normal-font-size};
  --body2-normal-line-height: #{$body2-normal-line-height};
  --body2-normal-letter-spacing: #{$body2-normal-letter-spacing};
  --body2-reading-font-size: #{$body2-reading-font-size};
  --body2-reading-line-height: #{$body2-reading-line-height};
  --body2-reading-letter-spacing: #{$body2-reading-letter-spacing};

  /* label */
  --label1-normal-font-size: #{$label1-normal-font-size};
  --label1-normal-line-height: #{$label1-normal-line-height};
  --label1-normal-letter-spacing: #{$label1-normal-letter-spacing};
  --label1-reading-font-size: #{$label1-reading-font-size};
  --label1-reading-line-height: #{$label1-reading-line-height};
  --label1-reading-letter-spacing: #{$label1-reading-letter-spacing};

  /* caption */
  --caption1-font-size: #{$caption1-font-size};
  --caption1-line-height: #{$caption1-line-height};
  --caption1-letter-spacing: #{$caption1-letter-spacing};
  --caption2-font-size: #{$caption2-font-size};
  --caption2-line-height: #{$caption2-line-height};
  --caption2-letter-spacing: #{$caption2-letter-spacing};
}
